.track-container {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  align-items: flex-start; }
  .track-container .button-container {
    display: flex;
    position: absolute;
    flex-flow: row wrap;
    text-align: left;
    color: white;
    z-index: 1; }
  .track-container .vis-canvas {
    position: absolute;
    top: 0;
    width: 100%; }
