
.track {
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 20px;

  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  min-height: 140px;
  color: #fff;
  background-color: magenta;
  border-top: 2px solid #fff;
}