.track {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  min-width: 350px;
  min-height: 140px;
  color: #fff;
  background-color: magenta;
  border: 1px solid #fff; }
