
.track {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  width: 250px;
  height: 100px;

  color: #fff;
  background-color: red;
  border: 1px solid #fff;
}