.track-button {
  display: flex;
  cursor: pointer;
  width: 260px;
  margin: 25px;
  padding: 10px;
  background-color: darkblue;
  align-items: center;
  flex-flow: column;
  border: 1px #fff solid; }
