
.anim {

  opacity: 1;
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  justify-content: center;
}

.anim.ready {
  opacity: 1;
}

.logo-animation {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  //width: auto%;
  //margin-top: -40px;
  svg {
    width: 30%;
    .st1 {
      fill: rgba(255, 255, 255, .15);
      stroke: #fff;
      stroke-linecap: square;
      stroke-miterlimit: 4;
    }

  }
}
