.cls-1 {
  fill: none; }

.cls-2 {
  isolation: isolate; }

.cls-3 {
  clip-path: url(#clip-path); }

.cls-4 {
  fill: #321c55; }

.cls-5 {
  fill: #341d58; }

.cls-6 {
  fill: #361e5b; }

.cls-7 {
  fill: #381f5f; }

.cls-8 {
  clip-path: url(#clip-path-2); }

.cls-9 {
  fill: #311b52; }

.cls-10 {
  clip-path: url(#clip-path-3); }

.cls-11 {
  clip-path: url(#clip-path-4); }

.cls-12 {
  clip-path: url(#clip-path-5); }

.cls-13 {
  clip-path: url(#clip-path-6); }

.cls-14 {
  fill: #552f8f; }

.cls-15 {
  fill: #371f5d; }

.cls-16 {
  fill: #311c53; }

.cls-17 {
  clip-path: url(#clip-path-7); }

.cls-18 {
  clip-path: url(#clip-path-8); }

.cls-19 {
  clip-path: url(#clip-path-9); }

.cls-20 {
  clip-path: url(#clip-path-10); }

.cls-21 {
  clip-path: url(#clip-path-11); }

.cls-22 {
  fill: #311b53; }

.cls-23 {
  clip-path: url(#clip-path-12); }

.cls-24 {
  clip-path: url(#clip-path-13); }

.cls-25 {
  clip-path: url(#clip-path-14); }

.cls-26 {
  clip-path: url(#clip-path-15); }

.cls-27 {
  clip-path: url(#clip-path-16); }

.cls-28 {
  clip-path: url(#clip-path-17); }

.cls-29 {
  clip-path: url(#clip-path-18); }

.cls-30 {
  clip-path: url(#clip-path-19); }

.cls-31 {
  fill: #321c53; }

.cls-32 {
  clip-path: url(#clip-path-20); }

.cls-33 {
  clip-path: url(#clip-path-21); }

.cls-34 {
  clip-path: url(#clip-path-22); }

.cls-35 {
  clip-path: url(#clip-path-23); }

.cls-36 {
  fill: #321c54; }

.cls-37 {
  clip-path: url(#clip-path-24); }

.cls-38 {
  clip-path: url(#clip-path-25); }

.cls-39 {
  clip-path: url(#clip-path-26); }

.cls-40 {
  clip-path: url(#clip-path-27); }

.cls-41 {
  clip-path: url(#clip-path-28); }

.cls-42 {
  clip-path: url(#clip-path-29); }

.cls-43 {
  clip-path: url(#clip-path-30); }

.cls-44 {
  clip-path: url(#clip-path-31); }

.cls-45 {
  clip-path: url(#clip-path-32); }

.cls-46 {
  clip-path: url(#clip-path-33); }

.cls-47 {
  clip-path: url(#clip-path-34); }

.cls-48 {
  clip-path: url(#clip-path-35); }

.cls-49 {
  clip-path: url(#clip-path-36); }
