body p, body li, body h1, body h2, body h3, body h4, body h5 {
  font-family: "ministry", "Helvetica", "Helvetica Neue", Helvetica, Arial, sans-serif; }

body p, body li {
  font-weight: 400; }

body strong, body h1, body h2, body h3, body h4, body h5 {
  font-weight: 500; }
